@charset "utf-8";

@import "../../node_modules/@fontsource/nunito/400.css";
@import "../../node_modules/@fontsource/nunito/700.css";

// Set your brand colors
$blue-dark: #00134a;
$blue-light: #7981a7;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$yellow: #ffe08a;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $blue-dark;
$link: $blue-dark;
$info: $blue-light;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import Bulma
@import "../../node_modules/bulma/bulma.sass";

.has-border-bottom {
  border-bottom: 1px solid $blue-dark;
}

.card-footer-item.is-active {
  background: $blue-dark;
  color: #fff;
}

.card-content.has-ribbon {
  position: relative;
  padding: 1.9rem 1.5rem;
  .ribbon {
    position: absolute;
    top: 0.5em;
    right: 0;
    height: 22px;
    z-index: 1;
  }
}